/*Container*/

.container {
  width: 100%;
  margin: auto;
}

.container h1, a {
  color: white;
}

.container h1 {
  font-size: 32px;
}

.container p {
  color: darkgrey;
  font-size: 20px;
  margin-bottom: 35px;
}

.container a {
  background-color: #71DE89;
  font-size: 16px;
  padding: 16px 35px;
  border-radius: 25px;
}

.container h2 {
  text-align: center;
}

@media (max-width: 550px) {
  .container {
    width: 100%;
  }
}
